<% include ../partials/header %>
    <div class="row text-center">
        <h1>Edit <%= campground.name %></h1>
        <!--temporary inline css-->
        <div style="width: 30%; margin: 30px auto;">
            <form action='/campgrounds/<%= campground._id %>?_method=PUT' method='POST'>
                <div class="form-group">
					<label for="name">Name of Kamp</label>
                    <input class='form-control' type='text' name='campground[name]' value='<%= campground.name %>'>
                </div>
				<div class="form-group">
					<label for="name">Nightly $$ Cost</label>
                    <input class='form-control' type='number' name='campground[dollar_cost]' value='<%= campground.dollar_cost %>' min="0.01" step="0.01">
                </div>
                <div class="form-group">
					<label for="name">image URI/URL</label>
                    <input class='form-control' type='text' name='campground[image]' value='<%= campground.image %>'>
                </div>
				<div class="form group">
					<label for="name">Description</label>
                    <input class='form-control' type='text' name='campground[description]' value='<%= campground.description %>'>
				<div class="form-group">
					<label for="name">Location</label>
					<label for="location">Location</label>
					<input class='form-control' type='text' name='location' id='location' value='<%= campground.location %>'>
				</div>
                </div>
                <div class="form-group">
                    <button class='btn-primary btn btn-lg btn-default btn-block'>Submit</button>
                </div>
            </form>
			<a href='/campgrounds'>Back</a>
        </div>
    </div>
<% include ../partials/footer %>